@charset "UTF-8";
.img-banner-flex {
  position: relative;
  margin: 0px 25px 25px 25px;
}

.imgaccueilcontainner {
  position: relative;
}

.banner-text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "montserrat";
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.Banner {
  color: #ff6060;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px 25px 25px;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 29px 0px 0px 0px;
  text-decoration: none;
  gap: 35px;
  font-family: "montserrat";
}
.nav a {
  color: #ff6060;
  text-decoration: none;
}
.nav a.active {
  text-decoration: underline;
  color: #ff6060;
}

.app {
  background-color: white;
}

#logokasa {
  width: 150px;
  height: 46px;
  padding: 25px 0px 0px 0px;
}

.logo {
  height: 100%;
  width: 50%;
}

.imgaccueilcontainner {
  width: 100%;
  height: 210px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.imgaccueilcontainner #imgaccueil {
  width: 100%;
  border-radius: 10px;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.ArticleHotel {
  margin: 0;
  padding: 0;
}

.ArticleHotel figure {
  margin: 0; /* Assurez-vous qu'il n'y a pas de marges intérieures dans la figure */
}

.ArticleHotel img {
  display: block; /* Pour supprimer l'espace sous l'image */
}

figure {
  display: flex;
  width: 30%;
  margin: 0px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

figure a {
  margin: 0;
  padding: 0;
  display: block;
}

figcaption {
  position: absolute;
  width: 50%;
  bottom: 5px;
  left: 5px;
  color: white;
  font-family: "montserrat";
  font-size: 15px;
}

.hotel-contenair {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 0px 50px 0px;
  margin: 0px 25px 25px 25px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

footer {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer p {
  color: white;
  font-family: "montserrat";
}
footer .footer-containner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.list {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  height: 25px;
  font-family: "montserrat";
  color: white;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.group-list {
  display: flex;
  flex-direction: column;
  padding: 10%;
  gap: 10px;
}

.content-list p {
  background-color: #f6f6f6;
  color: #ff6060;
  font-family: "montserrat";
}

.Arrow {
  transition: transform 0.3s ease;
  height: 12px;
  width: 23px;
}
.Arrow.expanded {
  transform: rotate(180deg);
}

.error-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 750px;
  padding: 90px 0px 50px 0px;
}
.error-flex h2 {
  color: #ff6060;
  font-family: "montserrat";
}
.error-flex .Back-accueil {
  color: #ff6060;
  font-family: "montserrat";
  text-decoration: underline;
}

span {
  color: #ff6060;
  font-family: "montserrat";
}

.error-logo {
  width: 95%;
  height: 100%;
}

.hotel-details {
  display: flex;
  flex-direction: column;
}

.hotel-info {
  height: auto;
  margin: 40px;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-info h2 {
  color: #ff6060;
  font-family: "montserrat";
}

.tags-flex ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}

.tags-flex ul li {
  float: left;
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  height: 19px;
  width: auto;
  padding: 5px;
  list-style-type: none;
}

.dropdown-description {
  width: 100%;
}

.Description-Equipement-flex {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

span {
  font-family: "montserrat";
}

.content-list p ul {
  list-style-type: none;
}

.tags-flex {
  display: flex;
  margin-left: -40px;
}

.host-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2px;
  padding-left: 5px;
}

.host-section p {
  color: #ff6060;
  font-family: "montserrat";
  width: 50%;
}

.host-section img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info-pannel-flex {
  display: flex;
  flex-direction: column;
}

.host-section-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding-top: 20px;
}

.star {
  width: 26px;
}

.host-rating {
  width: 100%;
}

/*gallery*/
.img-gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.img-gallery-container .img-gallery {
  width: 100%;
  height: 600px;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow-container {
  width: 101%;
  left: 2%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-right {
  width: 3vw;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transition: opacity 0.3s;
  transform: translateY(-50%) rotate(0deg);
  right: 5%;
  z-index: 2;
  opacity: 1;
}

.arrow-left {
  width: 3vw;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  transition: opacity 0.3s;
  z-index: 2;
  opacity: 1;
}

.image-counter {
  display: block;
}

.arrow-container span {
  position: absolute;
  top: 243px;
  left: 48%;
  transform: translateX(-50%);
  color: #fff;
  font-family: "montserrat";
}

/* version mobile */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  /*accueil*/
  .hotel-contenair {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0px;
  }
  figure {
    width: 100%;
  }
  .imgaccueilcontainner {
    height: 140px;
  }
  #logokasa {
    width: 130px;
    height: 41px;
    padding: 24px 0px 0px 0px;
  }
  footer {
    height: 400px;
  }
  footer .footer-containner {
    padding-top: 150px;
  }
  /*Logement details*/
  .img-gallery-container .img-gallery {
    height: 341px;
  }
  .arrow-container span {
    top: 140px;
  }
  .main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .host-section-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 20px;
  }
  .host-rating {
    padding-top: 15px;
  }
  .host-section {
    padding-right: 60px;
    width: 19%;
    gap: 13px;
  }
  .star {
    width: 20px;
  }
  .Description-Equipement-flex {
    display: flex;
    flex-direction: column;
  }
  /*error page */
  .error-flex {
    height: 465px;
  }
  .error-flex h2 {
    font-size: 15px;
    white-space: pre-wrap;
  }
  .error-logo {
    height: 60%;
  }
}/*# sourceMappingURL=style.css.map */